body {
	background-color: black;
}


#player1 {
	height: 50px;
	width: 50px;
	background-color: yellow;
	position: relative;
	margin-top: 200px;
}

#player2 {
	position: relative;
	height: 50px;
	width: 50px;
	background-color: red;
	top: 300px;
}